<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff055711-45a2-4336-a1a8-3b3b09aff5b0" Alias="Aaron Lambert" Level="2">
  <Info>
    <Parent Key="1c595b2c-cc8c-4613-9196-3083ab7f16b8">Team Members</Parent>
    <Path>/TeamMembers/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T10:59:18</CreateDate>
    <NodeName Default="Aaron Lambert" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/t0ofgsol/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>