<?xml version="1.0" encoding="utf-8"?>
<Media Key="6aaab413-d9d1-412a-b7f9-8b60d2f2b8de" Alias="Annual" Level="2">
  <Info>
    <Parent Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b">Services</Parent>
    <Path>/Services/Annual</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T19:36:08</CreateDate>
    <NodeName Default="Annual" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tr5ozxfy/annual.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>