<?xml version="1.0" encoding="utf-8"?>
<Media Key="908a9fc6-ac96-4e78-9051-33cf8755a1df" Alias="Assurances" Level="2">
  <Info>
    <Parent Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b">Services</Parent>
    <Path>/Services/Assurances</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T21:29:29</CreateDate>
    <NodeName Default="Assurances" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jfknyjx5/assurance.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>