<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dc635de-2ac8-4456-b685-5ee91247f75e" Alias="Background Map 2" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/BackgroundMap2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T19:33:02</CreateDate>
    <NodeName Default="Background Map 2" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kh5jak3b/dot-map2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>