<?xml version="1.0" encoding="utf-8"?>
<Media Key="c290afae-94a4-46c4-8b9f-2c39cb4118f3" Alias="Background Map One" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/BackgroundMapOne</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-14T16:19:57</CreateDate>
    <NodeName Default="Background Map One" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/efsnm3gn/background-map1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>