<?xml version="1.0" encoding="utf-8"?>
<Media Key="01373bd6-04f9-4ed1-ae3f-bdb21393e58e" Alias="Commodities" Level="2">
  <Info>
    <Parent Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b">Services</Parent>
    <Path>/Services/Commodities</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T21:29:49</CreateDate>
    <NodeName Default="Commodities" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lhyhdn2q/commodities.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>