<?xml version="1.0" encoding="utf-8"?>
<Media Key="09b6c2c7-4530-441d-86d3-18c144b0552a" Alias="Contact Image" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/ContactImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-19T19:05:27</CreateDate>
    <NodeName Default="Contact Image" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jaepbp0z/img-5-e1695109900349-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>