<?xml version="1.0" encoding="utf-8"?>
<Media Key="47dde241-77a6-46a8-b3e3-f1d28a78f4a3" Alias="Favicon" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T16:38:21</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zyujx2op/favicon.ico"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>