<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b4b699c-3a28-4e73-8101-0a3f68cf41fc" Alias="Financial Advisors" Level="2">
  <Info>
    <Parent Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b">Services</Parent>
    <Path>/Services/FinancialAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T21:30:05</CreateDate>
    <NodeName Default="Financial Advisors" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/corb0pkb/financialadvisors.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>