<?xml version="1.0" encoding="utf-8"?>
<Media Key="43165196-2f8d-493d-bc85-aaa7213bb9ef" Alias="form-mail" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/formMail</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-01T18:10:37</CreateDate>
    <NodeName Default="form-mail" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/dgnfb3pe/mail.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>