<?xml version="1.0" encoding="utf-8"?>
<Media Key="44372925-6699-4d03-8a2a-44700b1eb146" Alias="Hero Slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T10:29:37</CreateDate>
    <NodeName Default="Hero Slider" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>