<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6c79078-fede-4cda-b4b7-25054febac62" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-29T10:28:48</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>