<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6ecab52-abe6-4c01-8423-3a9dc4be1f1f" Alias="Partner4" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/Partner4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T15:39:16</CreateDate>
    <NodeName Default="Partner4" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1vqluyep/04.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>