<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7c86c48-5d14-42db-93d2-a55b0cb35434" Alias="Partner5" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/Partner5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T15:39:30</CreateDate>
    <NodeName Default="Partner5" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/y4ti2ul3/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>