<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ab86933-d577-46d5-b90b-eb8804475d80" Alias="Partner3" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/Partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T15:39:01</CreateDate>
    <NodeName Default="Partner3" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/xsrp3pa4/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>