<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcbdf9d1-3527-4724-8768-7ef17f1cc416" Alias="pj1" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T20:10:33</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/lyzpwcso/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>