<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a25cabc-0a4a-4bee-9a67-8075202bc045" Alias="pj3" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/pj3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T20:11:11</CreateDate>
    <NodeName Default="pj3" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gmaghxbd/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>