<?xml version="1.0" encoding="utf-8"?>
<Media Key="203c9ca6-344a-4c85-8549-0c61e2737994" Alias="pj4" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-29T20:11:25</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fflhvfrd/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>