<?xml version="1.0" encoding="utf-8"?>
<Media Key="98489817-1aed-4bb4-8c2c-d9711bfa008c" Alias="project5" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/project5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T19:04:37</CreateDate>
    <NodeName Default="project5" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tbja2lue/img-47-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>