<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b737d9e-b7aa-46f7-affb-0568a44088e1" Alias="Project 4" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/Project4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T14:42:25</CreateDate>
    <NodeName Default="Project 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/cg1dlxod/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>