<?xml version="1.0" encoding="utf-8"?>
<Media Key="04d9aa4c-f400-4e76-b632-1321be5fc522" Alias="Project 3" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/Project3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T14:42:07</CreateDate>
    <NodeName Default="Project 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ynqj5mtj/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>