<?xml version="1.0" encoding="utf-8"?>
<Media Key="13b5c18a-7a51-4370-b4dd-3dc14facf6a1" Alias="project6" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/project6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-27T19:04:54</CreateDate>
    <NodeName Default="project6" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/aufphjjy/projects.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>