<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ae466b9-255c-44c4-b440-63b0fcd196ca" Alias="Project 2" Level="2">
  <Info>
    <Parent Key="4fe24909-98bb-44e6-b247-e0af840c5e4f">Projects</Parent>
    <Path>/Projects/Project2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-18T14:41:54</CreateDate>
    <NodeName Default="Project 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/g0wkftbv/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>