<?xml version="1.0" encoding="utf-8"?>
<Media Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b" Alias="Services" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-10T21:29:08</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>