<?xml version="1.0" encoding="utf-8"?>
<Media Key="608ffd7e-2a31-49fc-8e36-927b69d56800" Alias="Star Rating" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/StarRating</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-17T18:45:48</CreateDate>
    <NodeName Default="Star Rating" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4e1ntvsy/icon_star.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>