<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7399240-53bb-4d8b-89b4-9d758832e88d" Alias="SymbolLogo" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/SymbolLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T10:24:38</CreateDate>
    <NodeName Default="SymbolLogo" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/z3mh4qos/symbol.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>