<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b37c3cd-6025-42ab-af1a-d88dacb67cd9" Alias="Tax and Trusts" Level="2">
  <Info>
    <Parent Key="f58e491a-997c-4ca8-b9eb-faa89d203f4b">Services</Parent>
    <Path>/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-10T21:31:06</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/iiehddkm/trusts.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>