<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a33d023-b811-4985-8d33-e958013404d7" Alias="TinaFoxBigPic" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/TinaFoxBigPic</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T21:10:46</CreateDate>
    <NodeName Default="TinaFoxBigPic" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vqnhl1dy/tina-fox-big.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>