<?xml version="1.0" encoding="utf-8"?>
<Media Key="6679a82e-7cf7-4a52-a134-345ea111a2df" Alias="Trusted Group" Level="2">
  <Info>
    <Parent Key="f6c79078-fede-4cda-b4b7-25054febac62">Misc</Parent>
    <Path>/Misc/TrustedGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-14T16:20:16</CreateDate>
    <NodeName Default="Trusted Group" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ufrd5ue4/group.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>