body {
    color: var(--color-default);
}

span {
    color: var(--color-secondary);
    font-weight: 600;
}

.bg-secondary { // Instead of mixins for span since its just at bg-secondary that span needs adjustments.
    span {
        color: var(--color-primary);
    }
}