#topbar {  
    padding-top: 1em;
    padding-bottom: 1em;
    
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .address {
        font-size: 14px;
      }
  
      .social-media {
        display: flex;
        gap: 15px; 
          
        .socialmedia-item {
          color: var(--color-gray);
                   
          &::after {
            content: none;          
          }          
        }

        i {
          display: inline-block;
        }
      }
    }
  }  

header {
    padding: 10px 0;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .logotype {
       display: flex;
       align-items: center;
       flex: 1;
       
       img {
          max-height: 50px; 
          display: block;
       }

       h3 {
            margin-left: 10px; 
            margin-top: 0.5em;
            color: var(--color-primary);
            font-size: 1.5rem; 
         }
      }

      #navbar {
        flex: 2;
        display: flex;
        justify-content: center;
        
        .nav-menu {
          display: flex;
          gap: 20px; 
          
          .nav-link {
              padding: 5px 10px;
              color: var(--color-primary);
              text-decoration: none;

              a {                
                    text-decoration: none;
                
                &:hover {
                    text-decoration: underline;
                    color: var(--color-accent);
                }

                &.active {
                  color: var(--color-accent);
                }
            }
          }
        }
      }
  
      .search {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
  
      #toggle-mobile-menu {
        display: none; 
        
        @media (max-width: 768px) { 
          display: flex;
          margin-left: auto;
        }
      }
    }
  } 

  .page-title {
    padding: 60px 0;
    background-color: var(--color-gray); 
    text-align: center; 
  
    .container {
      max-width: 1200px; 
      margin: 0 auto; 
  
      h1 {
        font-size: 2.5rem; 
        margin-bottom: 20px; 
        color: var(--color-primary); 
      }
  
      .breadcrumb {
        display: flex; 
        justify-content: center;
        align-items: center;
        list-style: none; 
        padding: 0;
        margin: 0;
  
        li {
          margin-right: 10px; 
          font-size: 1rem; 
  
          &:last-child {
            margin-right: 0; 
          }
  
          a {
            color: var(--color-primary);
            text-decoration: none;
  
            &:hover {
              text-decoration: underline; 
            }
          }
  
          .divider {
            margin-left: 5px;
            margin-right: 5px;
            color: var(--color-primary);
          }
  
          &.active {
            color: var(--color-accent);
            font-weight: bold; 
          }
        }
      }
    }
  }