#hero-section {
    position: relative; 
    width: 100%;
    height: 300px; 
  
    .background {
      position: absolute;
      top: 0;
      left: 0;
      background-size: cover;
      background-position: 60%;
      z-index: 1; 
      width: 100%; 
      height: 500px; 
    }
  
    .container {
      position: relative; 
      z-index: 2; 
      height: 100%;
      display: flex;
      align-items: flex-start; 
    }
  
    .hero-content {
      display: flex;
      flex-direction: column; 
      justify-content: center;
      align-items: flex-start; 
      max-width: 500px; 
      margin-top: 5em;
        
      .headline {       
        margin-bottom: 1em; 
        margin-top: 1em;
        margin-right: 4em;
      }
  
      .ingress {
        margin-bottom: 20px;
        margin-right: -5em;
      }
  
      .btn {
        text-decoration: none;
        padding: 10px 20px;
        font-size: 1rem;
        color: var(--color-gray);
      }
    }
  }

.about-us {
  background-color: var(--color-light);
  position: relative;
  
  .container {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 20px; 
    padding-right: 420px; 
  
    .content {
      flex: 2.5; 
      display: flex;
      flex-direction: column;
      margin-top: 300px;
      max-width: calc(100% - 100px); 
      padding-right: 20px;
      box-sizing: border-box; 
      z-index: 1; 
        
      .headline {
        margin-bottom: 1rem;
      }
  
      h2 {
        margin: 0;
      }
  
      h5 {
        margin: 0;
        color: var(--color-accent);
      }
  
      .quote {
        font-size: 1.2rem; 
        font-style: italic; 
        margin: 1rem 0;
      }
  
      .signature-container {
       margin-top: auto;
      }
    }
  
    .form-container {
      flex: 1.2; 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: white; 
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
      position: absolute;
      bottom: 110px; 
      right: 50px;
      width: 450px;
      z-index: 10; 
      padding: 20px; 
      box-sizing: border-box; 
      
      h3 {
        margin: -20px -20px 1rem -20px;
        background-color: var(--color-primary);
        color: var(--color-gray);
        padding: 0.5em;
        width: calc(100% + 40px); 
        }
      
        p {
          margin-bottom: 1rem;
          font-size: 0.8rem;
        }
      
        form {
          display: flex;
          flex-direction: column;
          width: 100%;
      
          input,
          textarea {
            margin-bottom: 1rem;
            width: 100%; 
            padding: 20px; 
            border: 1px solid #ccc; 
            box-sizing: border-box; 
            font-style: italic;
          }
      
          button {
            align-self: flex-start;
            text-decoration: none;
            padding: 10px 20px;
            color: var(--color-primary);
            width: 100%;
            background-color: var(--color-accent); 
            font-size: 1.2rem;
            border: none; 
            cursor: pointer; 
          }
      }
    }
  }
}  

#our-services {
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 120px;
   
    .container {
   
      h5 {
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--color-accent);
        font-size: large;
        font-weight: bold;
      }
  
      h2 {
        justify-content: center;
        align-items: center;
        text-align: center;    
      }  
  
      .services {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
      
        @media (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr); 
        }
      
        @media (max-width: 768px) {
          grid-template-columns: 1fr; 
        }
      
        .serv-item {
          background-color: var(--color-light);
          border-radius: 0;
          transition: box-shadow 0.3s ease;
          justify-content: center;
          align-items: center;
          text-align: center;
      
          .serv-header {
            h4 {
              margin-bottom: 10px;
              font-size: 1.2rem;
              font-weight: bold;
              color: #333;
            }
          }
      
          .serv-body {
            img {
              width: 100%;
              height: auto;
              border-radius: 0;
            }
          }
      
          .serv-footer {
            p {
              margin-top: 10px;
              color: #666;
              font-size: 0.9rem;
              text-decoration: none;            
              text-align: left;
              padding-left: 1em; 
              padding-right: 1em;
              
              a {
                text-decoration: none;
              }
            }
          }
      
          &:hover {
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }

#trusted-section {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 75px;
  
  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 800px; 
    padding: 0 20px;
    z-index: 2;
    }
        
  .background-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    background-size: cover;
    background-position: center -175x; 
    z-index: 1; 
    }
      
  .trusted-content {
    position: relative;
    z-index: 2; 
    color: #fff; 
          
    .headline {
      margin-bottom: 10px;
      font-weight: bold;
      }

    .tagline {
      margin-bottom: 10px;
      font-weight: bold;
      color: var(--color-accent);
    }
  
    .ingress {
      font-size: 1.2rem;
      margin-bottom: 20px;
      margin-left: 11em;
      margin-right: 11em;
      line-height: 1.5;
      color: var(--color-primary);
      }
  
    .btn {
      padding: 10px 20px;
      background-color: var(--color-primary);
      color: var(--color-gray);
      text-decoration: none;
      border-radius: 5px;
      }
    }
  
    .background-group {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 450px;
      background-size: cover;
      background-position: center -0px; 
      z-index: 2; 
      }
  }  

  #success-section {
    position: relative;
    text-align: center;
    overflow: visible;
    padding-top: 50px;
    margin-bottom: 220px;
   
    .container {   
        position: relative;
        margin: 0 auto;
        min-height: 800px; 
        padding: 0 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .background-map {
          position: absolute;
          width:  70%;
          height: 50%;
          background-size: cover;
          background-position: center;
          z-index: -1; 
          opacity: 0.9; 
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);  
      }

        p {
          color: var(--color-light);
        }   
  
      h2 {
        color: var(--color-light);
       }
  
  .success-content {
      position: relative;
      z-index: 2;
      text-align: center;
      margin-top: -300px;

      p {
        color: var(--color-accent);
      }

      h2 {
        color: var(--color-light);
      }
   
      .boaster {       
          display: grid;
          grid-template-columns: repeat(3, 1fr); 
          gap: 20px; 
          margin-top: 40px;
          width: 100%;
          max-width: 900px; 
          
          h1 {
            color: var(--color-accent);
            font-weight: bold;
            font-size: 100px;
          }

          .boaster-grid {
              text-align: center;

              h1 {
                  font-weight: bold;
                  margin-bottom: -5px;
              }

              h6 {
                  font-size: 18px;
                  color: var(--color-light);
              }
          }
      }
    }
  }

  .background-group {
    position: absolute;
    width: 60%;
    height: 60%;
    background-size: cover;
    background-position: center;
    z-index: 2; 
    top: 90%;        
    left: 50%;       
    transform: translate(-50%, -50%); 
  }
}

#projects-section {   
    width: 100%; 
 
    .container {
      text-align: left; 

      p {
        color: var(--color-accent);
      }
  
      h2 {
        color: var(--color-primary);
      }
    }
  
    .projects-images {
      display: flex;
      flex-wrap: wrap;
      gap: 0; 

      .project-logo {
        position: relative;
        flex: 1 1 25%; 
        max-width: 100%; 
        margin: 0; 

        img {
          width: 100%;
          height: auto;
          display: block;
        }

        .text-overlay {
          position: absolute;
          bottom: 0; 
          left: 0;
          width: 100%;
          background: rgba(0, 0, 0, 0.6);
          color: #fff; 
          padding: 10px; 
          text-align: center;

          p {
            margin: 0;
          }

          .tagline {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px; 
          }

          .service {
            font-size: 14px;
          }
        }
      }
    }  
}

  #partners-section {
    padding: 40px 0; 

    .container {
        text-align: center; 
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px; 
    }

    .partners-logos {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px; 
    }

    .partner-logo {
        flex: 0 1 auto; 
        max-width: 150px; 
        margin: 10px;
        text-align: center; 

        img {
            width: 100%; 
            height: auto; 
            display: block; 
        }
    }
}