@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, section, div, header, footer, main, aside, nav, blockquote, p, span {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--color-default);
}

.pagination .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.pagination .container .change {
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
}
.pagination .container .change.inactive {
  cursor: default;
  opacity: 0.2;
}
.pagination .container .pages {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination .container .pages li {
  font-size: 1.2rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
.pagination .container .pages li.number {
  background-color: transparent;
  color: rgb(0, 0, 0);
}
.pagination .container .pages li.number a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.pagination .container .pages li.number.active {
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--color-light);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1400px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container, .container-fluid {
  position: relative;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

a {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: "\f08e";
  font-family: "Font Awesome 6 Pro";
  display: inline-block;
  font-size: 0.8em;
  vertical-align: middle;
  margin-left: 0.4em;
  margin-top: -0.9em;
}

.btn-dark {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-dark:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-primary {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-primary:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-secondary {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-secondary:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-accent {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-accent:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-gray {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-gray:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-light {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid;
  padding: 15px 40px;
  font-size: 16px;
  transition: 0.25s;
  text-decoration: none !important;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.btn-light:hover {
  transition: 0.25s;
  text-decoration: none;
}

.btn-menu {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  transition: 0.25s;
  text-decoration: none !important;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  height: 55px;
  width: 55px;
  font-size: 1.6rem;
}
.btn-menu:hover {
  transition: 0.25s;
  text-decoration: none;
}

p {
  margin: 0;
  padding-top: 0rem;
  padding-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

#topbar {
  padding-top: 1em;
  padding-bottom: 1em;
}
#topbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#topbar .container .address {
  font-size: 14px;
}
#topbar .container .social-media {
  display: flex;
  gap: 15px;
}
#topbar .container .social-media .socialmedia-item {
  color: var(--color-gray);
}
#topbar .container .social-media .socialmedia-item::after {
  content: none;
}
#topbar .container .social-media i {
  display: inline-block;
}

header {
  padding: 10px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logotype {
  display: flex;
  align-items: center;
  flex: 1;
}
header .container .logotype img {
  max-height: 50px;
  display: block;
}
header .container .logotype h3 {
  margin-left: 10px;
  margin-top: 0.5em;
  color: var(--color-primary);
  font-size: 1.5rem;
}
header .container #navbar {
  flex: 2;
  display: flex;
  justify-content: center;
}
header .container #navbar .nav-menu {
  display: flex;
  gap: 20px;
}
header .container #navbar .nav-menu .nav-link {
  padding: 5px 10px;
  color: var(--color-primary);
  text-decoration: none;
}
header .container #navbar .nav-menu .nav-link a {
  text-decoration: none;
}
header .container #navbar .nav-menu .nav-link a:hover {
  text-decoration: underline;
  color: var(--color-accent);
}
header .container #navbar .nav-menu .nav-link a.active {
  color: var(--color-accent);
}
header .container .search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
header .container #toggle-mobile-menu {
  display: none;
}
@media (max-width: 768px) {
  header .container #toggle-mobile-menu {
    display: flex;
    margin-left: auto;
  }
}

.page-title {
  padding: 60px 0;
  background-color: var(--color-gray);
  text-align: center;
}
.page-title .container {
  max-width: 1200px;
  margin: 0 auto;
}
.page-title .container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--color-primary);
}
.page-title .container .breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-title .container .breadcrumb li {
  margin-right: 10px;
  font-size: 1rem;
}
.page-title .container .breadcrumb li:last-child {
  margin-right: 0;
}
.page-title .container .breadcrumb li a {
  color: var(--color-primary);
  text-decoration: none;
}
.page-title .container .breadcrumb li a:hover {
  text-decoration: underline;
}
.page-title .container .breadcrumb li .divider {
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-primary);
}
.page-title .container .breadcrumb li.active {
  color: var(--color-accent);
  font-weight: bold;
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
footer .copyright {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  gap: 20px;
}
footer .copyright p {
  margin: 0;
}
footer .credits a {
  text-decoration: none;
  color: var(--color-accent);
}
footer .credits a:hover {
  text-decoration: underline;
}

#project-footer {
  position: relative;
  padding-bottom: 0;
  overflow: hidden;
}
#project-footer .container {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  min-height: 1000px;
  justify-content: space-between;
  padding-left: 150px;
  margin-top: -250px;
}
#project-footer .container .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
#project-footer .container .background-map {
  z-index: 2;
  transform: scale(0.7);
  transform-origin: center;
  top: 150px;
}
#project-footer .container .background-group {
  z-index: 1;
  transform: scale(0.8);
  transform-origin: center;
  top: 263px;
  left: 65px;
}
#project-footer .container .right {
  position: relative;
  z-index: 3;
  width: 40%;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: auto;
  top: 350px;
  gap: 15px;
}
#project-footer .container .right .headline {
  font-size: 36px;
  color: var(--color-dark);
}
#project-footer .container .right .contact-item {
  display: flex;
  align-items: center;
}
#project-footer .container .right .contact-item i {
  margin-right: 8px;
  color: var(--color-accent);
}
#project-footer .container .right .contact-item span {
  color: var(--color-dark);
}
#project-footer .container .right .address {
  font-size: 16px;
  font-style: italic;
  color: var(--color-dark);
  margin-bottom: 20px;
}
#project-footer:after {
  content: "";
  display: block;
  height: 0;
}

#hero-section {
  position: relative;
  width: 100%;
  height: 300px;
}
#hero-section .background {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 60%;
  z-index: 1;
  width: 100%;
  height: 500px;
}
#hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
#hero-section .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  margin-top: 5em;
}
#hero-section .hero-content .headline {
  margin-bottom: 1em;
  margin-top: 1em;
  margin-right: 4em;
}
#hero-section .hero-content .ingress {
  margin-bottom: 20px;
  margin-right: -5em;
}
#hero-section .hero-content .btn {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--color-gray);
}

.about-us {
  background-color: var(--color-light);
  position: relative;
}
.about-us .container {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-left: 20px;
  padding-right: 420px;
}
.about-us .container .content {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  max-width: calc(100% - 100px);
  padding-right: 20px;
  box-sizing: border-box;
  z-index: 1;
}
.about-us .container .content .headline {
  margin-bottom: 1rem;
}
.about-us .container .content h2 {
  margin: 0;
}
.about-us .container .content h5 {
  margin: 0;
  color: var(--color-accent);
}
.about-us .container .content .quote {
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem 0;
}
.about-us .container .content .signature-container {
  margin-top: auto;
}
.about-us .container .form-container {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 110px;
  right: 50px;
  width: 450px;
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
}
.about-us .container .form-container h3 {
  margin: -20px -20px 1rem -20px;
  background-color: var(--color-primary);
  color: var(--color-gray);
  padding: 0.5em;
  width: calc(100% + 40px);
}
.about-us .container .form-container p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.about-us .container .form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.about-us .container .form-container form input,
.about-us .container .form-container form textarea {
  margin-bottom: 1rem;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-style: italic;
}
.about-us .container .form-container form button {
  align-self: flex-start;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--color-primary);
  width: 100%;
  background-color: var(--color-accent);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

#our-services {
  margin-top: 40px;
  padding-top: 60px;
  padding-bottom: 120px;
}
#our-services .container h5 {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-accent);
  font-size: large;
  font-weight: bold;
}
#our-services .container h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#our-services .container .services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  #our-services .container .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  #our-services .container .services {
    grid-template-columns: 1fr;
  }
}
#our-services .container .services .serv-item {
  background-color: var(--color-light);
  border-radius: 0;
  transition: box-shadow 0.3s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#our-services .container .services .serv-item .serv-header h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
#our-services .container .services .serv-item .serv-body img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
#our-services .container .services .serv-item .serv-footer p {
  margin-top: 10px;
  color: #666;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}
#our-services .container .services .serv-item .serv-footer p a {
  text-decoration: none;
}
#our-services .container .services .serv-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#trusted-section {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 75px;
}
#trusted-section .container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 800px;
  padding: 0 20px;
  z-index: 2;
}
#trusted-section .background-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 75%;
  background-size: cover;
  background-position: center -175x;
  z-index: 1;
}
#trusted-section .trusted-content {
  position: relative;
  z-index: 2;
  color: #fff;
}
#trusted-section .trusted-content .headline {
  margin-bottom: 10px;
  font-weight: bold;
}
#trusted-section .trusted-content .tagline {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-accent);
}
#trusted-section .trusted-content .ingress {
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-left: 11em;
  margin-right: 11em;
  line-height: 1.5;
  color: var(--color-primary);
}
#trusted-section .trusted-content .btn {
  padding: 10px 20px;
  background-color: var(--color-primary);
  color: var(--color-gray);
  text-decoration: none;
  border-radius: 5px;
}
#trusted-section .background-group {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: center 0px;
  z-index: 2;
}

#success-section {
  position: relative;
  text-align: center;
  overflow: visible;
  padding-top: 50px;
  margin-bottom: 220px;
}
#success-section .container {
  position: relative;
  margin: 0 auto;
  min-height: 800px;
  padding: 0 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#success-section .container .background-map {
  position: absolute;
  width: 70%;
  height: 50%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#success-section .container p {
  color: var(--color-light);
}
#success-section .container h2 {
  color: var(--color-light);
}
#success-section .container .success-content {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: -300px;
}
#success-section .container .success-content p {
  color: var(--color-accent);
}
#success-section .container .success-content h2 {
  color: var(--color-light);
}
#success-section .container .success-content .boaster {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  width: 100%;
  max-width: 900px;
}
#success-section .container .success-content .boaster h1 {
  color: var(--color-accent);
  font-weight: bold;
  font-size: 100px;
}
#success-section .container .success-content .boaster .boaster-grid {
  text-align: center;
}
#success-section .container .success-content .boaster .boaster-grid h1 {
  font-weight: bold;
  margin-bottom: -5px;
}
#success-section .container .success-content .boaster .boaster-grid h6 {
  font-size: 18px;
  color: var(--color-light);
}
#success-section .background-group {
  position: absolute;
  width: 60%;
  height: 60%;
  background-size: cover;
  background-position: center;
  z-index: 2;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#projects-section {
  width: 100%;
}
#projects-section .container {
  text-align: left;
}
#projects-section .container p {
  color: var(--color-accent);
}
#projects-section .container h2 {
  color: var(--color-primary);
}
#projects-section .projects-images {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}
#projects-section .projects-images .project-logo {
  position: relative;
  flex: 1 1 25%;
  max-width: 100%;
  margin: 0;
}
#projects-section .projects-images .project-logo img {
  width: 100%;
  height: auto;
  display: block;
}
#projects-section .projects-images .project-logo .text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  text-align: center;
}
#projects-section .projects-images .project-logo .text-overlay p {
  margin: 0;
}
#projects-section .projects-images .project-logo .text-overlay .tagline {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
#projects-section .projects-images .project-logo .text-overlay .service {
  font-size: 14px;
}

#partners-section {
  padding: 40px 0;
}
#partners-section .container {
  text-align: center;
}
#partners-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
#partners-section .partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#partners-section .partner-logo {
  flex: 0 1 auto;
  max-width: 150px;
  margin: 10px;
  text-align: center;
}
#partners-section .partner-logo img {
  width: 100%;
  height: auto;
  display: block;
}

#about-page {
  margin-bottom: 130px;
}
#about-page .container {
  margin-top: 6.5em;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  justify-content: space-between;
}
#about-page .container .main-content {
  flex: 1 1 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about-page .container .main-content .ceo-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
#about-page .container .right {
  flex: 2 1 67%;
}
#about-page .container .right .about-quote {
  color: var(--color-dark);
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: left;
  margin-left: auto;
  white-space: pre-wrap;
}
#about-page .container .right .ingress {
  text-align: left;
  margin-left: auto;
  font-size: 95%;
  white-space: pre-wrap;
}

#section-reviews {
  background-color: var(--color-gray);
  max-height: 894px;
}
#section-reviews .container {
  display: flex;
}
#section-reviews .container .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  order: 1;
  margin-right: -362px; /* Crap solution */
}
#section-reviews .container .left .headline {
  margin-top: 5em;
  color: var(--color-accent);
}
#section-reviews .container .left .tagline {
  margin-right: 3em;
}
#section-reviews .container .left .review {
  margin-right: 3em;
  font-size: 1.2rem;
  font-style: italic;
}
#section-reviews .container .left .name {
  margin-top: 1em;
}
#section-reviews .container .left .company {
  font-size: 1.2rem;
  font-style: italic;
}
#section-reviews .container .left .review-stars {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
}
#section-reviews .main-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  order: 2;
}
#section-reviews .main-content .ceo-image {
  position: relative;
  right: 85px;
  top: 0;
  width: calc(100% + 20px);
  height: auto;
  width: 894px;
  transform: translateX(50%);
}
.section-experts {
  margin-top: 100px;
  margin-bottom: 80px;
}
.section-experts .container h2 {
  text-align: center;
  padding: 0 300px;
}
.section-experts .container h6 {
  text-align: center;
}
.section-experts .container .experts .row {
  display: grid;
  gap: 20px;
}
.section-experts .container .experts .row:nth-child(1) {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024px) {
  .section-experts .container .experts .row:nth-child(1) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .section-experts .container .experts .row:nth-child(1) {
    grid-template-columns: 1fr;
  }
}
.section-experts .container .experts .row:nth-child(2) {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .section-experts .container .experts .row:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .section-experts .container .experts .row:nth-child(2) {
    grid-template-columns: 1fr;
  }
}
.section-experts .container .experts .item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}
.section-experts .container .experts .item .header h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.section-experts .container .experts .item .body img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.section-experts .container .experts .item .footer p {
  margin-top: 10px;
  color: #666;
  font-size: 1rem;
}
.section-experts .container .experts .item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.section-services .container {
  margin-top: 60px;
}
.section-services .container h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 0.2em;
  line-height: 1.2;
}
.section-services .container .services {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media (max-width: 1024px) {
  .section-services .container .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .section-services .container .services {
    grid-template-columns: 1fr;
  }
}
.section-services .container .services .serv-item {
  background-color: var(--color-light);
  border: 2px solid var(--color-gray);
  transition: box-shadow 0.3s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section-services .container .services .serv-item .serv-header h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.section-services .container .services .serv-item .serv-body img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
.section-services .container .services .serv-item .serv-footer p {
  margin-top: 10px;
  color: #666;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: left;
  padding-left: 1em;
  padding-right: 1em;
}
.section-services .container .services .serv-item .serv-footer p a {
  text-decoration: none;
}
.section-services .container .services .serv-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.service-item .container {
  display: flex;
  flex-wrap: wrap;
}
.service-item .container .main-content {
  width: 66%;
  padding-left: 50px;
  margin-top: 35px;
}
.service-item .container .main-content.rich-text-content img {
  display: block;
}
.service-item .container .main-content.rich-text-content p {
  margin: 1rem 0;
  line-height: 1.6;
}
.service-item .container .main-content.rich-text-content h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: var(--color-primary);
  font-size: 1.7em;
}
.service-item .container .main-content.rich-text-content ul {
  padding-left: 20px;
  list-style-type: disc;
}
.service-item .container .main-content.rich-text-content ul li {
  margin-bottom: 0.5rem;
}
.service-item .container .main-content.rich-text-content strong {
  font-weight: bold;
}
.service-item .container .sidebar {
  width: 34%;
  padding: 0 50px;
  margin-top: 35px;
  position: relative;
}
.service-item .container .sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  right: -5px;
  width: 1px;
  background-color: var(--color-gray);
}
.service-item .container .sidebar .sidebar-headline {
  color: var(--color-primary);
}
.service-item .container .sidebar .sidebar-image {
  margin-bottom: 1em;
}
.service-item .container .sidebar .sidebar-p {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 2em;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
form #QuestionName,
form #QuestionEmail {
  display: inline-block;
  font-style: italic;
  box-sizing: border-box;
  justify-content: space-evenly;
}
form #QuestionText {
  min-height: 150px;
  margin-bottom: 1rem;
  line-height: 1.6;
  box-sizing: border-box;
}
form input,
form textarea {
  margin-bottom: 1rem;
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-style: italic;
}
form button {
  align-self: flex-start;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--color-accent);
  width: 15%;
  background-color: var(--color-primary);
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

.projects-section .container {
  display: flex;
  flex-wrap: wrap;
}
.projects-section .container .main-content {
  width: 70%;
}
.projects-section .container .main-content .services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  border-right: 2px solid var(--color-gray);
}
.projects-section .container .main-content .services a {
  display: flex;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
.projects-section .container .main-content .services a:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.projects-section .container .main-content .services a .item {
  display: flex;
  width: 100%;
}
.projects-section .container .main-content .services a .item .body {
  flex: 0 0 200px;
  height: 200px;
  overflow: hidden;
  min-width: 400px;
}
.projects-section .container .main-content .services a .item .body img {
  width: 100%;
  height: auto;
  max-height: 200px;
  display: block;
}
.projects-section .container .main-content .services a .item .text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  max-width: 100%;
}
.projects-section .container .main-content .services a .item .text-column .header h4 {
  font-size: 1.4rem;
  font-weight: bold;
  color: black;
}
.projects-section .container .main-content .services a .item .text-column .date {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.projects-section .container .main-content .services a .item .text-column .date i {
  margin-right: 8px;
  margin-top: -15px;
  color: gray;
}
.projects-section .container .main-content .services a .item .text-column .date p {
  margin: 0;
  color: gray;
}
.projects-section .container .main-content .services a .item .text-column .footer p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projects-section .container .main-content .services a .item .text-column .read {
  font-size: 1rem;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects-section .container .main-content .services a .item .text-column .read i {
  transition: transform 0.3s ease;
  color: var(--color-accent);
}
.projects-section .container .main-content .services a .item .text-column .read:hover i {
  transform: translateX(5px);
}
.projects-section .container .sidebar {
  width: 30%;
  padding-left: 20px;
  gap: 20px;
  margin-top: 35px;
}
.projects-section .container .sidebar .tags-section h3 {
  color: black;
}
.projects-section .container .sidebar .tags-section .tag-list .tag-item {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px;
  color: gray;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  transition: background-color 0.3s ease;
}
.projects-section .container .sidebar .tags-section .tag-list .tag-item:hover {
  background-color: lightgray;
}

.project-item {
  margin: 0 250px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  overflow: visible;
}
.project-item .main-content {
  width: 65%;
  margin-top: 35px;
  padding-right: 20px;
  position: relative;
}
.project-item .main-content .date {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding-left: 0;
}
.project-item .main-content .date i {
  margin-right: 8px;
  margin-top: -15px;
  color: gray;
}
.project-item .main-content .date p {
  margin: 0;
  color: gray;
}
.project-item .main-content::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  right: -20px;
  width: 2px;
  background-color: var(--color-gray);
}
.project-item .main-content .rich-text-content {
  display: block;
  max-width: 740px;
  margin: 0 auto;
}
.project-item .main-content .rich-text-content .rich-text-paragraph {
  margin: 8px 0;
  overflow: hidden;
}
.project-item .main-content .rich-text-content .rich-text-paragraph:first-of-type {
  margin-top: -10px;
}
.project-item .main-content .rich-text-content .rich-text-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 370px;
  height: auto;
}
.project-item .main-content .rich-text-content img {
  display: block;
}
.project-item .main-content .rich-text-content .rich-text-list {
  list-style-type: disc;
  margin-left: 20px;
}
.project-item .main-content .rich-text-content .rich-text-list-item {
  margin-bottom: 0.5rem;
}
.project-item .sidebar {
  width: 35%;
  margin-top: 35px;
  padding-left: 50px;
  padding-right: 190px;
}

.project-bar .main-content {
  display: flex;
  flex-direction: column;
}
.project-bar .main-content .bar {
  display: flex;
  flex-direction: column;
}
.project-bar .main-content .bar a {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: inherit;
  padding: 20px 0;
  border-bottom: 2px solid var(--color-gray);
}
.project-bar .main-content .bar a:last-child {
  border-bottom: none;
}
.project-bar .main-content .bar a .item {
  display: flex;
  width: 100%;
  align-items: flex-start;
}
.project-bar .main-content .bar a .item .body {
  flex: 0 0 200px;
  min-width: 200px;
}
.project-bar .main-content .bar a .item .body img {
  width: 100%;
  height: auto;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.project-bar .main-content .bar a .item .text-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  max-width: 100%;
}
.project-bar .main-content .bar a .item .text-column .header h4 {
  font-size: 0.9rem;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  text-align: left;
}
.project-bar .main-content .bar a .item .text-column .date {
  display: flex;
  font-size: 0.9rem;
  margin-top: 0;
  white-space: nowrap;
  text-align: left;
}
.project-bar .main-content .bar a .item .text-column .date i {
  color: gray;
}
.project-bar .main-content .bar a .item .text-column .date p {
  color: gray;
}

.tags-footer {
  margin: 20px 0;
  margin-left: 320px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.tags-footer .tags-headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
  white-space: nowrap;
  color: var(--color-dark);
}
.tags-footer .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-footer .tag-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--color-dark);
  border-radius: 50px;
  background-color: var(--color-accent);
  font-size: 14px;
  font-weight: normal;
  color: var(--color-primary);
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.tags-footer .tag-item:hover {
  background-color: var(--color-border-secondary);
  color: var(--color-dark);
}

#contact-section {
  position: relative;
  overflow: hidden;
  background-color: var(--color-gray);
}
#contact-section .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
#contact-section .container {
  max-width: 1050px;
  margin-top: 400px;
  padding: 20px;
  position: relative;
  background-color: var(--color-light);
  z-index: 1;
  top: -50px;
}
#contact-section .container .contact-content {
  text-align: center;
}
#contact-section .container .contact-content .callback {
  font-size: 1.1rem;
  color: var(--color-accent);
}
#contact-section .container .contact-content .headline {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 0 250px;
}
#contact-section .container .contact-content .ingress {
  font-size: 0.9rem;
  margin-bottom: 20px;
  padding: 0 250px;
  font-style: italic;
}
#contact-section .container form {
  margin-top: 40px;
}
#contact-section .container form .umb-block-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 40px;
}
#contact-section .container form .umb-block-list .form-input-group {
  flex: 0 0 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}
#contact-section .container form .umb-block-list #Submit {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-section .container form .umb-block-list #Submit .form-button {
  padding: 15px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 1.2rem;
  cursor: pointer;
}
#contact-section .container form .umb-block-list #Submit .form-button:hover {
  background-color: var(--color-dark);
}
#contact-section .container form .umb-block-list input,
#contact-section .container form .umb-block-list select,
#contact-section .container form .umb-block-list textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
#contact-section .container form .umb-block-list textarea {
  resize: vertical;
}

.footer-special #project-footer {
  background-color: var(--color-light);
}

#contact-partners {
  bottom: 100px;
  background-color: var(--color-gray);
}
#contact-partners .container {
  text-align: center;
}
#contact-partners .partners-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
#contact-partners .partner-logo {
  flex: 0 1 auto;
  max-width: 150px;
  margin: 10px;
  text-align: center;
}
#contact-partners .partner-logo img {
  width: 100%;
  height: auto;
  display: block;
}

.tags-section {
  margin: 20px 0;
}
.tags-section .tags-headline {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}
.tags-section .tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tags-section .tag-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 1px solid var(--color-dark);
  border-radius: 50px;
  background-color: var(--color-background);
  font-size: 14px;
  font-weight: normal;
  color: var(--color-dark);
  text-align: center;
  white-space: nowrap;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.tags-section .tag-item:hover {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.sidebar-form {
  background-color: var(--color-primary);
  padding: 1em;
  position: relative;
}
.sidebar-form h5, .sidebar-form p {
  color: var(--color-accent);
  margin: 0 0 0.5rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.sidebar-form p {
  color: var(--color-gray);
}
.sidebar-form .form {
  position: relative;
  z-index: 2;
}
.sidebar-form .form-input-group {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.sidebar-form .form-input-group .form-label {
  display: block;
  font-weight: bold;
}
.sidebar-form .form-input-group .input-icon-wrapper {
  position: relative;
  width: 100%;
}
.sidebar-form .form-input-group .input-icon-wrapper .form-input {
  display: block;
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-style: italic;
}
.sidebar-form .form-input-group .input-icon-wrapper i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #888;
  pointer-events: none;
}
.sidebar-form .form-image {
  position: absolute;
  top: -15px;
  left: 150px;
  z-index: 1;
}