<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06ae9ab4-2ceb-496a-a43e-e7d533799ec1" Alias="Button - Button Types" Level="1">
  <Info>
    <Name>Button - Button Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Submit",
    "Reset"
  ]
}]]></Config>
</DataType>