<?xml version="1.0" encoding="utf-8"?>
<DataType Key="08228881-a338-4518-a52e-15487d3f7f7f" Alias="Contact Page - Contact Form - Block List" Level="1">
  <Info>
    <Name>Contact Page - Contact Form - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "f657c312-f640-4019-9232-efccb0ec299a",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "16e32e75-0f8e-4974-bdd5-919517639bbe",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "c238b6da-d7ed-430a-892d-a988e60aa0cc",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>