<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e9f3ce3-7488-417e-9fa9-3892ca193c72" Alias="Home Page - CallbackForm" Level="1">
  <Info>
    <Name>Home Page - CallbackForm</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "7196eaee-66c0-4810-ac1c-eb9d3a9f00e8",
      "label": "Email Address"
    },
    {
      "contentElementTypeKey": "48ffbdc3-b1fa-4da5-a717-6b7635d09214",
      "label": "Phone"
    },
    {
      "contentElementTypeKey": "a098ad29-f682-4e49-aec8-c932eb4440ba",
      "label": "Callback Dropdown"
    },
    {
      "contentElementTypeKey": "c238b6da-d7ed-430a-892d-a988e60aa0cc",
      "label": "Submit"
    }
  ]
}]]></Config>
</DataType>