<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8c50d1c4-37e2-4529-8c8e-6e6d233eb3d5" Alias="Image Slider Item - Link Is External - Toggle Property Editor UI" Level="1">
  <Info>
    <Name>Image Slider Item - Link Is External - Toggle Property Editor UI</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>