<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de38087b-a9cb-4915-835f-6e915caa3356" Alias="InputDropdown - Services" Level="1">
  <Info>
    <Name>InputDropdown - Services</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Financial consulting",
    "Financial advice",
    "Some other fancy option"
  ]
}]]></Config>
</DataType>