<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54f19a04-c538-471e-913b-b7dc35ac975b" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "mobil"
  ]
}]]></Config>
</DataType>