<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5f93ff2-e7d0-4a68-99cb-7462ca23396e" Alias="Modular Page - Layout" Level="1">
  <Info>
    <Name>Modular Page - Layout</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "bba078c0-939d-4571-9c7a-fe40b6971728",
      "name": "Containers"
    },
    {
      "key": "1ee89fb4-51e1-4c43-97f3-7fa5e6535976",
      "name": "Components"
    },
    {
      "key": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "138e797c-f7fd-4d4c-9510-28b7c9caaec9",
      "allowAtRoot": false,
      "groupKey": "1ee89fb4-51e1-4c43-97f3-7fa5e6535976",
      "label": "image slider",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "76caff45-c8de-4a19-8874-1b895ae7e8b6",
      "allowAtRoot": true,
      "groupKey": "bba078c0-939d-4571-9c7a-fe40b6971728",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "79d585e9-2253-4ee0-a58f-e9c148ee00c3",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": "12",
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "90c55402-2167-4dbf-81cf-d949f4b825bb",
      "allowAtRoot": false,
      "groupKey": "bba078c0-939d-4571-9c7a-fe40b6971728",
      "label": "container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "f0b00235-b58c-4840-9e4e-2d6a1383dada",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": "12",
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "1d5ebd9b-738f-4d5e-9e8e-ed1a79d5f9fa",
      "allowAtRoot": false,
      "groupKey": "bba078c0-939d-4571-9c7a-fe40b6971728",
      "label": "dynamic container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "3afdeb7b-d786-48e7-b06a-43ac53c292f2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": "12",
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        }
      ]
    },
    {
      "contentElementTypeKey": "e9a2b559-75ab-477a-abb2-f2fee458767a",
      "allowAtRoot": true,
      "groupKey": "bba078c0-939d-4571-9c7a-fe40b6971728",
      "label": "Section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "e26921e2-cb83-4c0c-b347-6e04829fa9e9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "maxAllowed": "12",
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ce82d7f2-28ef-4427-bcfd-877dbd842cac",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e9235ccf-6daa-4e2a-bdc8-7d2bc16b7e3b",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 5",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "afbb18e0-ca72-4230-a036-d8fc7c65b2e3",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 4",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "d1429681-43c7-4725-84e4-7c436f331ada",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "038ab2ca-b1f1-4429-b28e-e018118301d7",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e912205d-9c9f-4cc5-8c6e-c124a8e9f368",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3a369da3-3a6d-4d4a-b9c9-eedcc0a227a9",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b5f0deef-d1c2-419b-bcc2-f38ef1f1f133",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "46713984-cb90-42d0-91ac-bb6e2eb1ec47",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "quotation",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "5eac9205-6a73-4d44-a947-df5e9c5ceb65",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "rich text",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "144d0068-d5db-4270-aae9-d935a52706cb",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "ButtonLink",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "efc1b3ba-f405-4784-98d0-aab0fa6c76d9",
      "allowAtRoot": false,
      "groupKey": "7e51b86f-2aa4-46ca-b008-2b368913c3d8",
      "label": "image",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>