<?xml version="1.0" encoding="utf-8"?>
<DataType Key="45f87574-7ce4-498a-b854-584f3bf91d5f" Alias="Service Item Template - Question Form" Level="1">
  <Info>
    <Name>Service Item Template - Question Form</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "label": "Name"
    },
    {
      "contentElementTypeKey": "7196eaee-66c0-4810-ac1c-eb9d3a9f00e8",
      "label": "Email"
    },
    {
      "contentElementTypeKey": "16e32e75-0f8e-4974-bdd5-919517639bbe",
      "label": "Question"
    },
    {
      "contentElementTypeKey": "c238b6da-d7ed-430a-892d-a988e60aa0cc",
      "label": "Submit"
    }
  ]
}]]></Config>
</DataType>