<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c3fdd8e-6129-4dee-8cc4-8c77dbbccde3" Alias="Social Media Item Dropdown List" Level="1">
  <Info>
    <Name>Social Media Item Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "LinkedIn",
    "TikTok",
    "X (formerly Twitter)",
    "Youtube"
  ]
}]]></Config>
</DataType>