<?xml version="1.0" encoding="utf-8"?>
<Content Key="619448fd-8872-42f2-a9d0-be60568c2e87" Alias="About" Level="2">
  <Info>
    <Parent Key="35502d67-118c-42bf-b673-234e9273f27a">Onatrix - Home</Parent>
    <Path>/OnatrixHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-09-05T21:06:41</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f56545c2-31d8-41a4-a9be-74d73310ba84">aboutPage</Template>
  </Info>
  <Properties>
    <expertsHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </expertsHeadline>
    <expertsTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </expertsTitle>
    <mainCeo>
      <Value><![CDATA[Megan Fox - CEO & Founder of Onatrix]]></Value>
    </mainCeo>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "b5a3c2ab-18e6-4dfa-bb05-dd220e4d6ea9",
    "mediaKey": "5a33d023-b811-4985-8d33-e958013404d7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <mainQuote>
      <Value><![CDATA["We have over 25 years of experience providing expert financial advice to both businesses and individuals."]]></Value>
    </mainQuote>
    <mainSectionTitle>
      <Value><![CDATA[Words of CEO]]></Value>
    </mainSectionTitle>
    <mainText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.

Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </mainText>
    <pageTitle>
      <Value><![CDATA[About us]]></Value>
    </pageTitle>
    <reviewsCompany>
      <Value><![CDATA[Swebank]]></Value>
    </reviewsCompany>
    <reviewsHeadline>
      <Value><![CDATA[Trusted by some of Biggest Names]]></Value>
    </reviewsHeadline>
    <reviewsImage>
      <Value><![CDATA[[
  {
    "key": "501f948c-d2a1-4824-9af9-9a4e6bf5107e",
    "mediaKey": "50fb7a99-ea2c-4939-b60e-28f58099a754",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </reviewsImage>
    <reviewsName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </reviewsName>
    <reviewsSectionTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </reviewsSectionTitle>
    <reviewsStars>
      <Value><![CDATA[5]]></Value>
    </reviewsStars>
    <reviewsText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </reviewsText>
    <sectionBackgroundColor>
      <Value><![CDATA[{
  "label": "Gray",
  "value": "#F7F7F7"
}]]></Value>
    </sectionBackgroundColor>
    <starImage>
      <Value><![CDATA[[
  {
    "key": "d3082f8d-a811-4c64-9ab7-65eb8f87e9d2",
    "mediaKey": "608ffd7e-2a31-49fc-8e36-927b69d56800",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </starImage>
  </Properties>
</Content>