<?xml version="1.0" encoding="utf-8"?>
<Content Key="6e025d0a-2717-44e4-869c-daa61cb3d3fc" Alias="AJ Carter" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/AJCarter</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:26:30</CreateDate>
    <NodeName Default="AJ Carter" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[AJ Carter]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "1fdd6671-fedc-4f4a-8217-c5dab4c9a1a1",
    "mediaKey": "5e7f84e6-4d59-4b62-9ca1-31e6f3f5b545",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>