<?xml version="1.0" encoding="utf-8"?>
<Content Key="5d9c8ce2-1a6c-4c1c-866f-e7bacf3dd186" Alias="Big Savings for You" Level="3">
  <Info>
    <Parent Key="3c01f578-4ee2-47f8-8ba7-3ca55eef125f">Projects</Parent>
    <Path>/OnatrixHome/Projects/BigSavingsForYou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-27T19:19:54</CreateDate>
    <NodeName Default="Big Savings for You" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e536cd3-ae65-4779-867d-772ad221cd06">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <dateAdded>
      <Value><![CDATA[2023-10-07T00:00:00]]></Value>
    </dateAdded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u0022\u0026gt;\u0022\u0026gt;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Big Savings for You]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "b91da4f1-2d69-45dc-ba91-5b75feba130c",
    "mediaKey": "98489817-1aed-4bb4-8c2c-d9711bfa008c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>