<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a68c979-8105-477e-a5df-55cc79db4b0d" Alias="Brandon Kerr" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/BrandonKerr</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:29:19</CreateDate>
    <NodeName Default="Brandon Kerr" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[CFO & Founder at Onatrix]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "8713b23a-209f-4947-af12-10914ab2c5b3",
    "mediaKey": "0fb091f1-0798-4963-9a21-f1e73a4f39be",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>