<?xml version="1.0" encoding="utf-8"?>
<Content Key="dceac666-ba55-4593-a538-96d375c5c5b5" Alias="Brandon Newton" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/BrandonNewton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:25:31</CreateDate>
    <NodeName Default="Brandon Newton" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Brandon Newton]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "db4c1d17-e833-4cad-a820-d66a7cbbe70e",
    "mediaKey": "022a1e2d-d004-4c06-a4ef-b51d24f73ed8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>