<?xml version="1.0" encoding="utf-8"?>
<Content Key="93935da4-a757-409e-bb83-1fd62259bdad" Alias="Business Insights for SO Group..." Level="3">
  <Info>
    <Parent Key="3c01f578-4ee2-47f8-8ba7-3ca55eef125f">Projects</Parent>
    <Path>/OnatrixHome/Projects/BusinessInsightsForSOGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-27T19:16:57</CreateDate>
    <NodeName Default="Business Insights for SO Group..." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e536cd3-ae65-4779-867d-772ad221cd06">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <dateAdded>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </dateAdded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u0022\u0026gt;\u0022\u0026gt;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Business Insights for SO Group...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "bb2570a5-ae2d-45b8-b619-579dad8d596f",
    "mediaKey": "f6fcfce5-76ce-4539-9981-5d04cd657f38",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>