<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc8ca9f3-30ec-4dd1-9cff-e4156c524c1c" Alias="Contact" Level="2">
  <Info>
    <Parent Key="35502d67-118c-42bf-b673-234e9273f27a">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-16T15:02:07</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b43b1d5b-c0bf-4f16-8482-185073e8b350">contactPage</Template>
  </Info>
  <Properties>
    <contactCallback>
      <Value><![CDATA[REQUEST A CALL BACK]]></Value>
    </contactCallback>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "udi": "umb://element/180dba5ae2d34022a9fadae8c2126259",
      "uniqueName": "ContactName",
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]"
    },
    {
      "contentTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "udi": "umb://element/45e9bd894df84e10aa63c369c1fa5123",
      "uniqueName": "ContactPhone",
      "placeholderText": "Phone",
      "inputType": "[\u0022mobil\u0022]"
    },
    {
      "contentTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "udi": "umb://element/8e68e54397824b6ebce701bda45809aa",
      "uniqueName": "ContactEmail",
      "placeholderText": "Email Address",
      "inputType": "[\u0022email\u0022]"
    },
    {
      "contentTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "udi": "umb://element/ce5c1fcb105e47f3be7c1c6459355dc7",
      "uniqueName": "ContactQuestion",
      "placeholderText": "Financial Consulting",
      "inputType": "[\u0022text\u0022]"
    },
    {
      "contentTypeKey": "c238b6da-d7ed-430a-892d-a988e60aa0cc",
      "udi": "umb://element/e230445b65b84498b01e416b8a7da5ac",
      "buttonText": "Submit",
      "buttonType": "[\u0022Submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/180dba5ae2d34022a9fadae8c2126259",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/45e9bd894df84e10aa63c369c1fa5123",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8e68e54397824b6ebce701bda45809aa",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/ce5c1fcb105e47f3be7c1c6459355dc7",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e230445b65b84498b01e416b8a7da5ac",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <contactText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </contactText>
    <contactTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactTitle>
    <pageTitle>
      <Value><![CDATA[Contact Page]]></Value>
    </pageTitle>
    <partnerImages>
      <Value><![CDATA[[
  {
    "key": "0c2d0511-3d22-4b49-a779-a0f5a21f36bd",
    "mediaKey": "9145e5cd-5f4b-4eb7-9766-a6e260927d68",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ce409221-faa0-4e4f-b292-2eeb90635fe8",
    "mediaKey": "ab5b792c-39d5-4acb-9650-4c8c99b8cfa9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "03ec557d-a047-4089-83ce-0078c0cf0850",
    "mediaKey": "0ab86933-d577-46d5-b90b-eb8804475d80",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "504bb61b-1fed-4a64-bc5b-0101b4aa2cb3",
    "mediaKey": "d6ecab52-abe6-4c01-8423-3a9dc4be1f1f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "da215b06-a880-4969-bc64-bd99444d5a24",
    "mediaKey": "e7c86c48-5d14-42db-93d2-a55b0cb35434",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9a2382e7-b2ce-462a-9189-b32ad943bd05",
    "mediaKey": "205a2b70-d154-4ea5-9a4d-a742775482a0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImages>
  </Properties>
</Content>