<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c" Alias="Experts" Level="3">
  <Info>
    <Parent Key="619448fd-8872-42f2-a9d0-be60568c2e87">About</Parent>
    <Path>/OnatrixHome/About/Experts</Path>
    <Trashed>false</Trashed>
    <ContentType>expertsListPage</ContentType>
    <CreateDate>2024-09-15T14:18:11</CreateDate>
    <NodeName Default="Experts" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c096ed56-928c-441f-971a-1cae7f9936e2">expertsListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our Experts]]></Value>
    </pageTitle>
  </Properties>
</Content>