<?xml version="1.0" encoding="utf-8"?>
<Content Key="dd295480-c1f5-461a-a022-d180f40751ba" Alias="Financial Advisors for Irra Grou..." Level="3">
  <Info>
    <Parent Key="3c01f578-4ee2-47f8-8ba7-3ca55eef125f">Projects</Parent>
    <Path>/OnatrixHome/Projects/FinancialAdvisorsForIrraGrou</Path>
    <Trashed>false</Trashed>
    <ContentType>projectItemTemplate</ContentType>
    <CreateDate>2024-09-27T19:17:59</CreateDate>
    <NodeName Default="Financial Advisors for Irra Grou..." />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="4e536cd3-ae65-4779-867d-772ad221cd06">serviceItemTemplate</Template>
  </Info>
  <Properties>
    <dateAdded>
      <Value><![CDATA[2024-02-06T00:00:00]]></Value>
    </dateAdded>
    <pageContent>
      <Value><![CDATA[{
  "markup": "\u003Cp\u003E\u0022\u0026gt;\u0022\u0026gt;Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </pageContent>
    <pageTitle>
      <Value><![CDATA[Financial Advisors for Irra Grou...]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "e63bb58f-a577-4000-b190-a308a275a13e",
    "mediaKey": "6a25cabc-0a4a-4bee-9a67-8075202bc045",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>