<?xml version="1.0" encoding="utf-8"?>
<Content Key="7f5c8e0c-5303-4cfa-976d-d5ee561df3f7" Alias="Home Modular" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomeModular</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-09T19:43:31</CreateDate>
    <NodeName Default="Home Modular" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="695bbce3-bc58-4530-9054-ced45b12c420">modularPage</Template>
  </Info>
  <Properties>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "e9a2b559-75ab-477a-abb2-f2fee458767a",
      "udi": "umb://element/3700d974a81045338a03287de03ec3dd",
      "sectionTitle": "Hero Slider",
      "sectionBackgroundImage": "[{\u0022key\u0022:\u0022842dea6e-8071-4d1d-8d5d-89d37269621f\u0022,\u0022mediaKey\u0022:\u002211397162-931b-4998-b52f-4255b496eaba\u0022,\u0022mediaTypeAlias\u0022:\u0022Image\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1,
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Gray\u0022,\r\n  \u0022value\u0022: \u0022#F7F7F7\u0022\r\n}"
    },
    {
      "contentTypeKey": "1d5ebd9b-738f-4d5e-9e8e-ed1a79d5f9fa",
      "udi": "umb://element/816291d5c4554627be8c96b5cbc55554"
    },
    {
      "contentTypeKey": "e912205d-9c9f-4cc5-8c6e-c124a8e9f368",
      "udi": "umb://element/29e725016a184f39aab5eeaca6b7d7f6",
      "headlineContent": "We bring success to you"
    },
    {
      "contentTypeKey": "b5f0deef-d1c2-419b-bcc2-f38ef1f1f133",
      "udi": "umb://element/41812281644340f88961b421510c08f4",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
    },
    {
      "contentTypeKey": "144d0068-d5db-4270-aae9-d935a52706cb",
      "udi": "umb://element/2a2bdf20aea949f59a2212306f86d238",
      "buttonLinkText": "Contact us",
      "buttonLinkUrl": "/contact",
      "buttonColor": "{\r\n  \u0022label\u0022: \u0022Dark\u0022,\r\n  \u0022value\u0022: \u0022#171717\u0022\r\n}"
    },
    {
      "contentTypeKey": "e9a2b559-75ab-477a-abb2-f2fee458767a",
      "udi": "umb://element/0ff6523ef9214ea7b824dfc2a072268e",
      "sectionTitle": "About Us",
      "addSpaceToTop": 1,
      "addSpaceToBottom": 1
    },
    {
      "contentTypeKey": "1d5ebd9b-738f-4d5e-9e8e-ed1a79d5f9fa",
      "udi": "umb://element/9fb24bce7d454584952ecae1f96a800a"
    },
    {
      "contentTypeKey": "1d5ebd9b-738f-4d5e-9e8e-ed1a79d5f9fa",
      "udi": "umb://element/3c5b265a261d4e80929706c1877bc616"
    },
    {
      "contentTypeKey": "ce82d7f2-28ef-4427-bcfd-877dbd842cac",
      "udi": "umb://element/1580518186ad4a53a559af49c54d0df9",
      "headlineContent": "About Us"
    },
    {
      "contentTypeKey": "038ab2ca-b1f1-4429-b28e-e018118301d7",
      "udi": "umb://element/4730631c75cc42a4a4a5af797d2cbef9",
      "headlineContent": "We have 40 years experience"
    },
    {
      "contentTypeKey": "46713984-cb90-42d0-91ac-bb6e2eb1ec47",
      "udi": "umb://element/fa7da71725ca4a60a055e1c39ace90cb",
      "quoteContent": "\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D"
    },
    {
      "contentTypeKey": "b5f0deef-d1c2-419b-bcc2-f38ef1f1f133",
      "udi": "umb://element/c8836319d6134916a07b0171e46f6cc6",
      "paragraphContent": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium."
    },
    {
      "contentTypeKey": "efc1b3ba-f405-4784-98d0-aab0fa6c76d9",
      "udi": "umb://element/420030737d10481d92b23c3d10547340",
      "imageDescription": "Tina Fox signature",
      "selectedImage": "[{\u0022key\u0022:\u0022301ddf3b-588c-4134-92cc-412cc62edc09\u0022,\u0022mediaKey\u0022:\u0022c87713ec-d464-4245-ac22-b411c1d24fec\u0022,\u0022mediaTypeAlias\u0022:\u0022\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]"
    },
    {
      "contentTypeKey": "b5f0deef-d1c2-419b-bcc2-f38ef1f1f133",
      "udi": "umb://element/e4b82e190c924131b4b4ec6041a152b5",
      "paragraphContent": "Tina Fox founder"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/3700d974a81045338a03287de03ec3dd",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "e26921e2-cb83-4c0c-b347-6e04829fa9e9",
            "items": [
              {
                "contentUdi": "umb://element/816291d5c4554627be8c96b5cbc55554",
                "settingsUdi": null,
                "columnSpan": 5,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "3afdeb7b-d786-48e7-b06a-43ac53c292f2",
                    "items": [
                      {
                        "contentUdi": "umb://element/29e725016a184f39aab5eeaca6b7d7f6",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/41812281644340f88961b421510c08f4",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/2a2bdf20aea949f59a2212306f86d238",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "contentUdi": "umb://element/0ff6523ef9214ea7b824dfc2a072268e",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "e26921e2-cb83-4c0c-b347-6e04829fa9e9",
            "items": [
              {
                "contentUdi": "umb://element/9fb24bce7d454584952ecae1f96a800a",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "3afdeb7b-d786-48e7-b06a-43ac53c292f2",
                    "items": [
                      {
                        "contentUdi": "umb://element/1580518186ad4a53a559af49c54d0df9",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/4730631c75cc42a4a4a5af797d2cbef9",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/fa7da71725ca4a60a055e1c39ace90cb",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/c8836319d6134916a07b0171e46f6cc6",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/420030737d10481d92b23c3d10547340",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      },
                      {
                        "contentUdi": "umb://element/e4b82e190c924131b4b4ec6041a152b5",
                        "settingsUdi": null,
                        "columnSpan": 12,
                        "rowSpan": 1,
                        "areas": []
                      }
                    ]
                  }
                ]
              },
              {
                "contentUdi": "umb://element/3c5b265a261d4e80929706c1877bc616",
                "settingsUdi": null,
                "columnSpan": 6,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "3afdeb7b-d786-48e7-b06a-43ac53c292f2",
                    "items": []
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
  </Properties>
</Content>