<?xml version="1.0" encoding="utf-8"?>
<Content Key="80062fa3-3468-4c0f-8f30-e34e8257967d" Alias="Kevin Gardner" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/KevinGardner</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:30:43</CreateDate>
    <NodeName Default="Kevin Gardner" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "6e755a4f-1a70-4d0b-a92f-25dea52d0ffe",
    "mediaKey": "5aab0ac1-5d42-4c65-9748-d25bd68b78f1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>