<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8f71f21-ca86-471e-ad86-c2fd1ba4effe" Alias="Miranda Dayton" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:29:58</CreateDate>
    <NodeName Default="Miranda Dayton" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "973b60b6-09e6-44ec-9025-33a6b7d735e7",
    "mediaKey": "cfc2f05f-e835-401c-a1bf-10ebb53e2fea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>