<?xml version="1.0" encoding="utf-8"?>
<Content Key="35502d67-118c-42bf-b673-234e9273f27a" Alias="Onatrix - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-29T21:39:07</CreateDate>
    <NodeName Default="Onatrix - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5f808f11-2cd3-45b3-9722-7ca71a1d8532">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[About Us]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "8cd22d12-c26c-4de5-a4b1-1ca85986b57f",
    "mediaKey": "c87713ec-d464-4245-ac22-b411c1d24fec",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <branchesBoast>
      <Value><![CDATA[More them 125 branches has been established in Europe and America]]></Value>
    </branchesBoast>
    <branchesNumber>
      <Value><![CDATA[125]]></Value>
    </branchesNumber>
    <callbackForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "879892df-8fb3-487e-a3ec-1219e66cb8d4",
      "udi": "umb://element/b98c5ae12caf4102bc027a7827b833b9",
      "uniqueName": "Name",
      "labelText": null,
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]",
      "errorMessage": "You must enter a name"
    },
    {
      "contentTypeKey": "7196eaee-66c0-4810-ac1c-eb9d3a9f00e8",
      "udi": "umb://element/508a1adcbf2c49508c954426d00fbe3c",
      "uniqueName": "Email Address",
      "labelText": null,
      "placeholderText": "Email Address",
      "inputType": "[\u0022email\u0022]",
      "errorMessage": "You must enter your email address"
    },
    {
      "contentTypeKey": "48ffbdc3-b1fa-4da5-a717-6b7635d09214",
      "udi": "umb://element/2afdbd466c8d43c19752bc1755fb7f35",
      "uniqueName": "Phone",
      "labelText": null,
      "placeholderText": "Phone",
      "inputType": "[\u0022mobil\u0022]",
      "errorMessage": "You must enter your phonenumber"
    },
    {
      "contentTypeKey": "a098ad29-f682-4e49-aec8-c932eb4440ba",
      "udi": "umb://element/d526961e16094b528317528b68987909",
      "uniqueName": "Dropdown",
      "labelText": null,
      "placeholderText": "Finances",
      "inputType": "[\u0022Financial advice\u0022]"
    },
    {
      "contentTypeKey": "c238b6da-d7ed-430a-892d-a988e60aa0cc",
      "udi": "umb://element/a497892fb0c8488b9920b7e15c88bef1",
      "buttonText": "Submit",
      "buttonType": "[\u0022Submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b98c5ae12caf4102bc027a7827b833b9",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/508a1adcbf2c49508c954426d00fbe3c",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2afdbd466c8d43c19752bc1755fb7f35",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/d526961e16094b528317528b68987909",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a497892fb0c8488b9920b7e15c88bef1",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </callbackForm>
    <customersBoast>
      <Value><![CDATA[More then 100 customers has been served]]></Value>
    </customersBoast>
    <customersNumber>
      <Value><![CDATA[689]]></Value>
    </customersNumber>
    <customHeadline1>
      <Value><![CDATA[We Provide The Solutions]]></Value>
    </customHeadline1>
    <customHeadline2>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </customHeadline2>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "aef9820c-73a9-4085-ad0f-317154737110",
    "mediaKey": "11397162-931b-4998-b52f-4255b496eaba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <partnerImages>
      <Value><![CDATA[[
  {
    "key": "e35df040-8ea8-4bd0-8ce5-0bf2a415b1c3",
    "mediaKey": "9145e5cd-5f4b-4eb7-9766-a6e260927d68",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b8b51b18-76fa-44e6-9b08-82cd252e6ac5",
    "mediaKey": "e7c86c48-5d14-42db-93d2-a55b0cb35434",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5eec0147-4766-4580-8f02-d7b7f7e0e52e",
    "mediaKey": "d6ecab52-abe6-4c01-8423-3a9dc4be1f1f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2adec755-3301-4478-ae67-06be4082cbc1",
    "mediaKey": "0ab86933-d577-46d5-b90b-eb8804475d80",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e40736ad-a4f4-45d1-a29e-897f72075878",
    "mediaKey": "ab5b792c-39d5-4acb-9650-4c8c99b8cfa9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f1f1d51b-115b-4257-bbde-985e98ce7217",
    "mediaKey": "205a2b70-d154-4ea5-9a4d-a742775482a0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnerImages>
    <projectImages>
      <Value><![CDATA[[
  {
    "key": "7fe9044a-53b4-45c4-9d2b-4d4989d51866",
    "mediaKey": "7b050f29-28a6-412c-8309-0ffaede585e8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4a76847c-a3f7-4d0b-86c6-a09e8dd612b9",
    "mediaKey": "7ae466b9-255c-44c4-b440-63b0fcd196ca",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "dc1359f5-05f8-49bc-bafe-2db02799e4f7",
    "mediaKey": "04d9aa4c-f400-4e76-b632-1321be5fc522",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "24b0d0ff-8d0b-46a7-bcf7-577d02c00919",
    "mediaKey": "6b737d9e-b7aa-46f7-affb-0568a44088e1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImages>
    <projectsBoast>
      <Value><![CDATA[More then 370 projects has been completed]]></Value>
    </projectsBoast>
    <projectServices>
      <Value><![CDATA[Financial Services]]></Value>
    </projectServices>
    <projectsNumber>
      <Value><![CDATA[370]]></Value>
    </projectsNumber>
    <projectTagline1>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </projectTagline1>
    <projectTagline2>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectTagline2>
    <projectTagline3>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </projectTagline3>
    <projectTagline4>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </projectTagline4>
    <projectVector>
      <Value><![CDATA[[
  {
    "key": "6a5c4064-a240-4f3e-98f5-ff2e9294505a",
    "mediaKey": "64a53940-c81a-459e-9cd2-2a2cbcdbb199",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectVector>
    <sectionBackgroundColor>
      <Value><![CDATA[{
  "label": "Primary",
  "value": "#4F5955"
}]]></Value>
    </sectionBackgroundColor>
    <sectionTitle>
      <Value><![CDATA[Our Services]]></Value>
    </sectionTitle>
    <successBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9c624f25-10a5-41df-ad7f-14c872e92d4c",
    "mediaKey": "908fb7d7-267e-429b-b604-43eb5f548087",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundImage>
    <successBackgroundMap>
      <Value><![CDATA[[
  {
    "key": "0af2a3d2-0d51-4dc0-a072-3d811c592bca",
    "mediaKey": "c290afae-94a4-46c4-8b9f-2c39cb4118f3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successBackgroundMap>
    <successHeadline>
      <Value><![CDATA[SUCESS STORIES]]></Value>
    </successHeadline>
    <successTagline>
      <Value><![CDATA[Success Story]]></Value>
    </successTagline>
    <trustedBackgroundGroup>
      <Value><![CDATA[[
  {
    "key": "cd88e995-83c5-4b2f-9c62-d105464cfb81",
    "mediaKey": "6679a82e-7cf7-4a52-a134-345ea111a2df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundGroup>
    <trustedBackgroundMap>
      <Value><![CDATA[[
  {
    "key": "b3982016-4e94-4887-8015-24fc09e5cdcf",
    "mediaKey": "c290afae-94a4-46c4-8b9f-2c39cb4118f3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundMap>
    <trustedButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonText>
    <trustedButtonUrl>
      <Value><![CDATA[https://www.nyse.com/index]]></Value>
    </trustedButtonUrl>
    <trustedSectionHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedSectionHeadline>
    <trustedSectionTagline>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedSectionTagline>
    <trustedText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedText>
  </Properties>
</Content>