<?xml version="1.0" encoding="utf-8"?>
<Content Key="3c01f578-4ee2-47f8-8ba7-3ca55eef125f" Alias="Projects" Level="2">
  <Info>
    <Parent Key="35502d67-118c-42bf-b673-234e9273f27a">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-27T18:49:25</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec441f90-f69f-4d95-b2ba-fa5437f516d7">projectListPage</Template>
  </Info>
  <Properties>
    <customHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </customHeadline>
    <pageTitle>
      <Value><![CDATA[Our projects]]></Value>
    </pageTitle>
  </Properties>
</Content>