<?xml version="1.0" encoding="utf-8"?>
<Content Key="9f28fb69-f0f1-41d1-b5ec-2c8fec7a4968" Alias="Services" Level="2">
  <Info>
    <Parent Key="35502d67-118c-42bf-b673-234e9273f27a">Onatrix - Home</Parent>
    <Path>/OnatrixHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceListPage</ContentType>
    <CreateDate>2024-09-11T15:58:17</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fa279e6e-2510-478a-8113-d1902ec8f3a0">serviceListPage</Template>
  </Info>
  <Properties>
    <customHeadline1>
      <Value><![CDATA[We Provide The Solutions ]]></Value>
    </customHeadline1>
    <customHeadline2>
      <Value><![CDATA[To Grow Your Business Faster]]></Value>
    </customHeadline2>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>