<?xml version="1.0" encoding="utf-8"?>
<Content Key="039e5c3d-c2e2-4b96-bfc1-77c32d13241a" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-05T09:37:35</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactBackground>
      <Value><![CDATA[[
  {
    "key": "516e5fce-7f29-49f5-bcc9-a746365eb9c8",
    "mediaKey": "9a030063-9115-4146-8d69-cc202ebfcc1f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactBackground>
    <contactHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactHeadline>
    <contactImage>
      <Value><![CDATA[[
  {
    "key": "469cc951-9c16-4fa9-9892-5f9e2fa61779",
    "mediaKey": "09b6c2c7-4530-441d-86d3-18c144b0552a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactImage>
    <contactMap>
      <Value><![CDATA[[
  {
    "key": "f913450a-2ae2-4350-b329-9bb202aeb6a6",
    "mediaKey": "77e6cee9-86cc-4ea9-a0f9-03a41f35ee94",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactMap>
    <formImage>
      <Value><![CDATA[[
  {
    "key": "a51a2c52-e612-488e-904d-fd29e63eb3b3",
    "mediaKey": "43165196-2f8d-493d-bc85-aaa7213bb9ef",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formImage>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <sidebarImage>
      <Value><![CDATA[[
  {
    "key": "671b7d51-9107-48c3-80ba-cdb48486cbdb",
    "mediaKey": "4cd59fa9-2be6-4d84-b4de-fec6831401db",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sidebarImage>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "d5ef0c8b-654d-4298-b63c-0d7ed26385e0",
    "mediaKey": "f7399240-53bb-4d8b-89b4-9d758832e88d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Inc.]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Financial Solutions For You]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "87c540a7-d14e-43bc-bfa3-ec738c23f757",
      "udi": "umb://element/b20a97083a6c4682b6b147bf4a2d396a",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com"
    },
    {
      "contentTypeKey": "87c540a7-d14e-43bc-bfa3-ec738c23f757",
      "udi": "umb://element/72949388822641b69c63528dc1ef6c97",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com"
    },
    {
      "contentTypeKey": "87c540a7-d14e-43bc-bfa3-ec738c23f757",
      "udi": "umb://element/c406d9e0e43f48588d8f4a2536bcbfa2",
      "platformName": "[\u0022X (formerly Twitter)\u0022]",
      "platformAccountUrl": "https://x.com"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b20a97083a6c4682b6b147bf4a2d396a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/72949388822641b69c63528dc1ef6c97",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c406d9e0e43f48588d8f4a2536bcbfa2",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>