<?xml version="1.0" encoding="utf-8"?>
<Content Key="3356e504-9872-49f1-88ce-c00c94e0d4ed" Alias="Tina Fox" Level="4">
  <Info>
    <Parent Key="ee27b837-7ae7-4d6e-aea4-396183c43e1c">Experts</Parent>
    <Path>/OnatrixHome/About/Experts/TinaFox</Path>
    <Trashed>false</Trashed>
    <ContentType>expertItemTemplate</ContentType>
    <CreateDate>2024-09-15T14:28:33</CreateDate>
    <NodeName Default="Tina Fox" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6a73bc97-112b-445a-b024-29543b496af8">expertItemTemplate</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Tina Fox]]></Value>
    </pageTitle>
    <preamble>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </preamble>
    <thumbnailImage>
      <Value><![CDATA[[
  {
    "key": "305569ed-e324-4f10-9694-2d502f2029ba",
    "mediaKey": "79d65957-97e1-41d9-b43e-c49b0567e96b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnailImage>
  </Properties>
</Content>