@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;
    var siteName = settings?.Value<string>("siteName") ?? "";
    var siteLogotype = settings?.Value<IPublishedContent>("siteLogotype")?.Url() ?? "";    
}

<header>
    <div class="container">
        <a class="logotype" href="/"><img src="@siteLogotype" alt="@siteName"><h3>Onatrix</h3></a>
        <div id="navbar">
            <nav class="nav-menu">
                <a class="nav-link" href="/about">About</a>
                <a class="nav-link" href="/services">Services</a>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/contact">Contact</a>
            </nav>
        </div>
        <div class="search">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <button id="toggle-mobile-menu" class="btn-circle"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>