@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper
@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null;

    var contactHeadline = settings?.Value<string>("contactHeadline") ?? "";
    var officeLocation = settings?.Value<string>("officeLocation") ?? "";
    var officePhoneNumber = settings?.Value<string>("officePhoneNumber") ?? "";
    var officeEmailAddress = settings?.Value<string>("officeEmailAddress") ?? "";

    var contactImage = settings?.Value<IPublishedContent>("contactImage")?.Url() ?? "";
    var contactBackground = settings?.Value<IPublishedContent>("contactBackground")?.Url() ?? "";
}

<div id="project-footer" class="bg-gray">
    <div class="container">
        <div class="background background-map" style="background-image: url('@contactImage');"></div>
        <div class="background background-group" style="background-image:url('@contactBackground');"></div>
        <div class="right">
            <h2 class="headline">@contactHeadline</h2>
            <div class="contact-item">
                <i class="fa-solid fa-location-dot"></i>
                <span>Office location</span>
            </div>
            <div class="address">@officeLocation</div>
            <div class="contact-item">
                <i class="fa-solid fa-phone"></i>
                <span>Phone number</span>
            </div>
            <div class="address">@officePhoneNumber</div>
            <div class="contact-item">
                <i class="fa-solid fa-envelope"></i>
                <span>Email-address</span>
            </div>
            <div class="address">@officeEmailAddress</div>
        </div>
    </div>
</div>
