@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="tags-section">
    <h3 class="tags-headline">Tags</h3>
    <div class="tag-list">
        <span class="tag-item">Report</span>
        <span class="tag-item">Business Plans</span>
        <span class="tag-item">Insights</span>
        <span class="tag-item">Business</span>
        <span class="tag-item">App</span>
        <span class="tag-item">Project</span>
        <span class="tag-item">Finance</span>
        <span class="tag-item">Pricing</span>
    </div>
</section>